<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>addGenre</title>
</head>
<body>
    <h2>Add a genre!</h2>
    <form th:action="@{/addGenre}" th:object="${genre}" th:method="POST">
        <label for="name">Genre's name:</label><br>
        <input type="text" id="name" name="name" required><br>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
</body>
</html>