<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>addSong</title>
</head>
<body>
    <h2>Add a song!</h2>
    <form th:action="@{/addSongForm}" th:object="${song}" th:method="POST">
        <label for="name">Song's name:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="date">Date:</label><br>
        <input type="date" id="date" name="date" value="2013-01-08" required><br>
        <label for="duration">Duration:</label><br>
        <input type="number" step="any" min="0" max="100" value="22.33" id="duration" name="duration" required><br>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </form>

</body>
</html>