<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Songs API in SpringBoot</title>
</head>
<body>
    <h2> This is index landing page</h2>
    <p></p>
    <p>our existing data base:</p>
    <button type="button" class="btn btn-light" href="songs"><a href="songs">Songs</a></button>
    <button type="button" class="btn btn-light" href="artists"><a href="artists">Artists</a></button>
    <button type="button" class="btn btn-light" href="genres"><a href="genres">Genres</a></button>
    <button type="button" class="btn btn-light" href="albums"><a href="albums">Albums</a></button>
</body>
</html>