<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <title>AllSongs</title>
</head>
<body>
    <h2>List of songs</h2>

    <table class="table" >
        <tr>
            <th scope="row">Id</th>
            <th scope="row">Name</th>
            <th scope="row">Date</th>
            <th scope="row">Duration</th>
        </tr>

        <tr th:each="song : ${songs}">
            <td th:text="${song.id}">Id</td>
            <td th:text="${song.name}">Name</td>
            <td th:text="${song.date}">Date</td>
            <td th:text="${song.duration}">Duration</td>
        </tr>
    </table>

</body>
</html>